.container {
  background-color: black;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: white;
  font-weight: 400;
  font-size: 14px;
}
.text span {
  font-weight: 500;
  text-decoration: underline;
}
.icon {
  color: white;
  width: 20px;
  position: absolute;
  top: 9px;
  right: 50px;
}
